.ui.secondary.menu {
    margin-left: 5px!important;
}

.footer{
    position: bottom;
    bottom:0;
   }

.ui.card {
    height: 350px;
}

.ui.block.header {
    font-size: 2rem;
    background: rgba(24, 62, 215, 0.2)!important;
    margin-bottom: 20px;
    margin-top: 20px;
}


#budgetText {
    font-size: small;
}

#button {
    background-color: #183ed7;
    color: white;
}

#main {
    font-weight: 100;
    font-size: 1.2rem;
}
 span#jackpot {
     font-weight: bold; 
 }